<h1 class="animated fadeIn fast">About Comic App</h1>
<hr/>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
    cupiditate, sed provident mollitia numquam, labore quia illum commodi porro
    blanditiis eligendi aut inventore esse omnis sequi rem incidunt non quisquam!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corporis,
    corrupti cumque minima temporibus quaerat, voluptas hic maiores molestiae labore
    animi, excepturi numquam cupiditate ducimus. Officia unde quis deleniti laborum.</p>